
:root {
    --body-color: #fff;
    --nav-color: #000;
    --bg-color: #fff;
}

.dark-theme {
    --body-color: #0a0a0a;
    --nav-color: #000;
    --bg-color: #000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'source sans pro', sans-serif;
    
    
    
}

  body {

    background: var(--body-color);
    transition: backgroun 0.3s;
  }


h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 1rem;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}
   
    
    
p {
    font-size: 16px;
    margin: 15px 0px 20px 0;
    color: #222;
}
    
   
.section-p1 {
    padding: 5px 5px;
}

.section-m1 {
    margin: 40px 0;
}

body {
   
    width: 100%;
   
       
    
    padding-left: 5pt;
    padding-right: 5pt;
    padding-top: 5pt;
    padding-bottom: 10pt;

   
    



}


    

    
            
            

        
    
        
    























.button-normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}


    


#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    height: 50px;
    
    
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover, #navbar li a.active {
    color: #088178;
}

#navbar li a.active::after, #navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
    
}

#close {
    display: none;
}

#hero {
    background-image: url();
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    top: 4px;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    
    font-size: 1.8.rem;
    color: #fff;
    padding: 0;
    margin: 0;
}

#hero h1 {
    color: #fff;
    font-size: 1.8rem;
    padding: 0;
    margin: 0;
}

#hero h2 {
    color: #fff;
    font-size: 2.2rem;
    
}

#hero button {
    border: 0;
    font-size: 2.1rem;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    color: blue;
    padding: 0;
    margin: 0;
   
    
    

}

#hero p {
    font-size: 1.6rem;
    color: #fff;

}

#section-p1 {
    padding: 40px 80px;
    width: 100%;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 180px;
    height: 30vh;
    text-align: center;
    padding: 25px 15px ;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin-top: 50px;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.03);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h2 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
    height: 5vh;
}

#feature .fe-box:nth-child(2) h2 {
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h2 {
    background-color: #d1ebf2;
}

#feature .fe-box:nth-child(4) h2 {
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h2 {
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h2 {
    background-color: #fff2e5;
}

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
  
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
   
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
    
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #868;
    font-size: 1rem;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
    padding: 0;
    margin: 0;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #eBf6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 20px;
    right: 10px;


}

#banner {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   width: 100%;
   height: 40vh;
   background-size: cover;
   background-position: center;
   
}

#banner h4 {
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 1.4rem;
}

#banner h2 {
    color: #fff;
    padding: 10px 0;
}

#banner button:hover {
    background: #088178;
    color: #fff;
    font-size: 1.6rem;
}


#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    min-width: 580px
    height: 50vh;
    background-size: cover;
    background-position: center;
    
                
}

#sm-banner .banner-box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    min-width: 580px 
    height: 50vh;
    background-size: cover;
    background-position: center;
}
    


.banner-box2 button:hover {
    background: #088178;
    color: #fff;
    font-size: 1rem;
}







#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 50px;
    margin-top: 5%;
    bottom: 20px;
    right: 10px;
    left: 10px;
    margin-left: 5%;
    margin-right: 5%;
    
    
}

#sm-banner .banner-box:hover button {
    background: #088178;
    border: 1px solid #088178;
} 

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 2%;

}

#banner3  {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0 80px;
    padding-right: 0 80px;
    border-radius: 5%;
    
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;

}

 
#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
}
   
    
#newsletter marquee {
    font-size: 14px;
    font-weight: 600;
    
    
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 8vh;
    

}
/*--newsletter style--*/
#newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 8vh;
    font-size: 18px;
}

#newsletter .form {
    display: flex;
    width: 30%;
    margin-right: 5%;
}  

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid #088178;
    border-radius: 6px;
} 

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover, 
footer a:hover{
    color: #fff;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

/*--shope page--*/

#page-header {
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p {
    color: #fff;
}

#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

/*--single product--*/

#prodetails {
    display: flex;
    margin-top: 20px;
}
/*--style later--*/
#prodetails .single-pro-image {
    width: 40%;
    margin-right: 70px;
    margin-left: 5%;
    margin-bottom: 3%;
    
    padding-top: 30px;
    
    
    
    
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
    
}

#prodetails .single-pro-details h2 {
    font-size: 26px;

}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details input:focus {
    outline: none;
}

#prodetails .single-pro-details button {
    background-color: #088178;
    color: #fff;
    width: 16%;
    height: 6vh;
     
}

#prodetails .single-pro-details span {
    line-height: 25px;
}


/*blog-page*/



#blog {
    padding: 150px 150px 0 150px; 
}

#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img {
    width: 50%;
    margin-right: 40px;
}

#blog img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details {
    width: 50%;
}

#blog .blog-details a {
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

#blog .blog-details a::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
}

#blog .blog-details a:hover {
    color: #088178;
}

#blog .blog-details a:hover::after {
    background-color: #088178;
}

#blog .blog-box h1 {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -9;
}


/*about page*/




#about-head {
    display: flex;
    align-items: center;
}

#about-head img {
    width: 630px;
    height: auto;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 40px;
    height: 500px;
}

#about-head div {
    padding-left: 40px;
}

#about-app {
    text-align: center;
}

#about-app .video {
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}

#about-app .video video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/*contact details*/

#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e1e1e1;
    
}

#contact-details .details {
    width: 40%;
    margin-left: 70px;
}

#contact-details .details span,
#form-details form span {
    font-size: 20px;
}

#contact-details .details h2,
#form-details form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i {
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p {
    margin: 0;
    font-size: 14px;
}

#contact-details .map {
    width: 55%;
    height: 400px;
    margin-right: 70px;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
   
}

#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1;
}

#form-details form textarea {
    height: 200px;
}

#form-details form button {
    background-color: #088178;
    color: #fff;
    height: 30px;
    width: 100px;
    cursor: pointer;
    
   
}

#form-details .speople div {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .speople div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .speople div p {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

/*cart page*/

#cart {
    overflow-x: auto;
}

#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 70px;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}


#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}



#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead {
    border: 1px solid #088178;
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
}

#cart table tbody td {
    font-size: 13px;
}

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
 #coupon {
    width: 50%;
    margin-bottom: 30px;
 }


 #coupon h3,
 #subtotal h3 {
    padding-bottom: 15px;
 }

 #coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
 }

 #coupon button{
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
 }
  
 #subtotal button {
    background-color: #088178;
    color: #fff;
 }
    
    
    
 

 #subtotal {
    width: 40%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
 }

 #subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
 }

 #subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
 }





    



    






   
    










/*---large devices only--*/
@media (max-width: 799px) {
    .section-p1 {
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgb(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;

    }

    #navbar.active {
        right: 0px;
    }
    
    #navbar li {
        margin-bottom: 25px;
    }
    
    #mobile {
        display: flex;
        align-items: center;
    }
    
    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    
    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
    
    #lg-bg {
        display: none;
    }
    
    #hero {
       
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    
    #feature {
        justify-content: center;
    }
    
    #feature .fe-box {
        margin: 15px 15px;
    }
    
    #product1 .pro-container {
        justify-content: space-between;
        justify-content: space-around;
        
    }

    #product1 img {
        width: 250px;
    }


    
    #product .pro {
        margin: 15px;
    }
    
    #banner {
        height: 20vh;
    }
    #sm-banner .banner-box {
        min-width: 105%;
        height: 32vh;
        padding: 80px 0 0 10px;
    }

    #sm-banner .banner-box2 {
        margin-top: 30px;
       
    }

    #banner3 {
        padding: 0 40px;
    }

    #banner3 .banner-box {
        width: 28%;
    }

    

    #newsletter .form {
        width: 70%;
    }

    /*contact*/

    #form-details {
        padding: 40px;
    }

    #form-details form {
        width: 50%;
    }

    #contact-details {
        padding: 40px;
    }

   
        
}
















    /*--smaLL device--*/ 
@media (max-width: 477px) {
    
        /*------navbar------*/

    

    
        .nav-menu {
            right: 3%;
    
        }
    
        /*------header------*/
    
        header {
            height: 100vh;
            
    
        }
    
        .header_container {
            grid-template-columns: 1fr;
            text-align: center;
            margin-top: -2rem;
        }


               



    .section-p1 {
        padding: 20px;
        grid-template-columns: 1fr 1fr;
        margin-top: 2rem;
    }
    #header {
        padding: 10px 30px;
        margin-right: 0;
        margin-top: -2rem;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    #hero {
        padding: 0 20px;
        background-position: 55%;
        
    }

#hero h1, h2, p {
   line-height: 1.8rem;
   
   
}











    #feature {
        justify-content: space-between;
    }

    #feature .fe-box {
        width: 100%;
        margin: 0 0 15px 0;
        grid-template-columns: 1fr 1fr;
    }

       
    

    #product1 .pro {
        width: 100%;
       
    }

    #banner {
        height: 40vh;
    }

    #sm-banner .banner-box {
        height: 40vh;
    }

    #sm-banner .banner-box2 {
        margin-top: 20px;
    }

    #banner3 {
        padding: 0 20px;
    }

    #banner3 .banner-box {
        width: 100%;
    }

    #newsletter {
        padding: 40px 20px;

    }

    #newsletter .form {
        width: 100%;
    }

    footer .copyright {
        text-align: start;
    }

    #prodetails {
        flex-direction: column;
    }
    
    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }
    
    #prodetails .single-pro-details {
        width: 100%;
    }

   /*blog page*/

   #blog {
    padding: 100px 20px 0.20px;
   }

   #blog .blog-box {
       display: flex;
       flex-direction: column;
       align-items: flex-start;
      

   }

   #blog .blog-img {
       width: 100%;
       margin-right: 0;
       margin-bottom: 30px;
   }

   #blog .blog-details {
       width: 100%;
   }

   /*about page*/
   #about body {
    font-family: 'spartan', sans-serif;
   }

   #about-head {
   
    flex-direction: column;
    
   }

    #about-head img {
       margin-bottom: 20px;
       width: 100%;
       width: 430px;
       margin-right: 40px;

    }

    #about-head div {
        padding-left: 0px;
    }

    #about-head .video {
        width: 100%;
    }

    /*contact*/

  

    #contact-details {
        flex-direction: column;
        
    }

    #contact-details .details {
        width: 100%;
        margin-bottom: 30px;
    }

    #contact-details .map {
        width: 110%;
        margin-left: 70px;
    }

    #form-details {
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }

    #form-details form {
        width: 100%;
        margin-bottom: 30px;
    }
    .people {
        align-items: center;
        margin-left: 70px;
        text-align: center
    }

    
        
        
        
    

    /*cart page*/

    #cart-add {
        margin-left: 50px;
        flex-direction: column;
    }

    #coupon {
        width: 100%;
        margin-left: -35px;
    }

    #subtotal {
        width: 100%;
        padding: 30px;
        margin-left: -35px;
       
        
    }
    
    
}
    

    



/*javascript multiple image upload*/
#result {
    margin-top: 15px;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 0;
}

.thumbnail {
    height: 192px;
}








/*dark mode settings*/
.settings-menu {
    position: absolute;
    width: 90%;
    max-width: 350px;
    max-height: 0;
    transition: max-height 0.3s;
    background: var(--bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 100%;
    right: 5%;
}

.settings-menu-height {
    max-height: 450px;
}

.user-profile a {
    font-size: 12px;
    color: #1876f2;
    text-decoration: none;
    border-radius: 50%;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile img {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile p {
    margin-bottom: -5px;
    font-weight: 500;

}

.user-profile small {
    font-size: 12px;
}

.settings-menu-inner {
    padding: 20px;
}

.settings-menu hr {
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 15px 0;
}

.setting-links {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.setting-links .setting-icon {
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;
}

.setting-links a {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #626262;
}

/*swtich to dark mode btn*/
#dark-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #ccc;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left 0, 5s;
    background: 0.5s;
}

#dark-btn span {
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
}

#dark-btn.dark-btn-on {
    padding-left: 23px;
    background: #0a0a0a;
}



.popup {
    width: 400px;
    height: 385px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50% -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    margin-top: -200px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;






}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50% -50%) scale(0.1);
}

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2s);
}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button {
    width: 100%;
    margin-top: 90px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2s);

}
    
    
    